html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  height: 100%;
}

body {
  background-color: #222;
  color: #ddd;
  height: 100%;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

span.resultado {
  position: relative;
  width: 100%;
}

.resultado-enter {
  transition: .5s;
}

.resultado-enter.resultado-enter-active {
  transform: translateY(0%);
}

.resultado-exit {
  transition: .5s;
}

.resultado-exit-active {
  opacity: 0;
  transform: translateY(-10%);
}